<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>疫情数据管理平台</title>

    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/font-awsome/e81ce22ea6.js' %}"></script>
    {#    <link href="{% static 'css/font-awsome/all.css' %}" rel="stylesheet">#}
    {#    <script src="https://kit.fontawesome.com/e81ce22ea6.js" crossorigin="anonymous"></script>#}

    <link rel="stylesheet" type="text/css" href="{% static 'css/overview/responsive_service_section.css' %}">
</head>
<body>
{% include 'plaza/components/header.html' %}
{% include 'overview/components/responsive_service_section.html' %}
</body>
</html>