{% load static %}
<body>
<div class="container" style="padding: 0px">
    <h1>隔离信息平台</h1>
    <h3>崇礼 ｜ 冬奥村</h3>
    <div class="row">
        <div class="service button"
             onclick="javascrtpt:window.location.href='{% url 'plaza:supply-registration-form' %}'">
            {#            <i class="fa-solid fa-chart-line"></i>#}
            <i class="fa-solid fa-pen-to-square"></i>
            <h2>必需品申请</h2>
            <p>
                历史隔离人员需求统计
            </p>
        </div>

        <div class="service button"
             onclick="javascrtpt:window.location.href='{% url 'plaza:official-notifications' %}'">
            <i class="fa-solid fa-bell"></i>
            <h2>官方通知</h2>
            <p>
                隔离相关通知文件
            </p>
        </div>
        <div class="service button"
             onclick="javascrtpt:window.location.href='{% url 'plaza:special-request-form' %}'">
            <i class="fa-solid fa-check-to-slot"></i>
            <h2>特殊需求</h2>
            <p>
                特殊需求反馈通道
            </p>
        </div>
        <div class="service button"
             onclick="javascrtpt:window.location.href='{% url 'plaza:quarantine-life-share' %}'">
            <i class="fa-solid fa-user-group"></i>
            <h2>隔离生活</h2>
            <p>
                分享隔离生活的点点滴滴
            </p>
        </div>
    </div>
</div>
</body>