<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>特殊需求申请</title>
    <link href="{% static 'css/plaza/special-request/form.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/font-awsome/e81ce22ea6.js' %}"></script>


</head>
<body>
<body style="padding: 0px 0px">
<main class="form-signin w-100 m-auto mt-0">
    {% include 'plaza/components/header.html' %}
    <div class="py-5 text-center">
        <i class="fa-solid fa-check-to-slot fa-3x"></i>
        <h2>特殊需求申请</h2>
        <p class="lead">请务必保证您所填写的房间信息正确，房间号不必包含院号/楼号，如8号院3号楼107房间，在房间号处仅需填写107。</p>
    </div>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" onclick="showAlert()">提交</button>
        </form>
    </div>
</main>


</body>
</html>
<script>
    function showAlert() {
        alert("提交成功!工作人员会第一时间处理您的需求。");
    }
</script>
